<section>
  <div class="container">
    <div class="row py-4">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      <div
        class="col-md-6"
        *ngFor="let character of retrievedCharacterArray; let id = index"
      >
        <div
          class="row py-4 character-box"
          (click)="toCharacterInfo(character.name, character.id)"
        >
          <div class="col-md-4">
            <div class="image-box">
              <img
                src="{{ character.image }}"
                alt="{{ character.name }}"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-8">
            <div>
              <p>Name</p>
              <h4>{{ character.name }}</h4>
              <p>Status</p>
              <h5>{{ character.status }}</h5>
              <p>Species</p>
              <h5>{{ character.species }} - {{ character.gender }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
