section {
  min-height: 1000px;
}

.character-container {
  border-radius: 10px;
  background-color: hsl(330, 82%, 57%);
}

.episode-container {
  border-radius: 10px;
  background-color: hsl(25, 75%, 47%);
}

.episode-links {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .episode-container,
  .character-container {
    border-radius: 0;
  }
}
