<section id="characters" class="py-5">
  <div class="container character-container">
    <div class="row py-5 mb-5">
      <div class="col-md-4">
        <div class="image-box">
          <img
            src="{{ character.image }}"
            alt="{{ character.name }}"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-md-8">
        <div>
          <p>Name</p>
          <h2>{{ character.name }}</h2>
          <p>Status</p>
          <h3>{{ character.status }}</h3>
          <p>Species</p>
          <h3>{{ character.species }} - {{ character.gender }}</h3>
          <p>Last Known Location</p>
          <h3>{{ character.location.name }}</h3>
          <p>Origin</p>
          <h3>{{ character.origin.name }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container episode-container py-4">
    <div class="row">
      <div class="col">
        <div>
          <p>Appearances</p>
          <h3>{{ character.episode.length }}</h3>
          <p>No. - Episode Name</p>
          <h3
            *ngIf="singleEpisode"
            (click)="toEpisode(singleEpisode.name, singleEpisode.id)"
            class="episode-links"
          >
            {{ singleEpisode.id }} - {{ singleEpisode.name }}
          </h3>
          <h3
            *ngFor="let episode of retrievedEpisodeArray"
            (click)="toEpisode(episode.name, episode.id)"
            class="episode-links"
          >
            {{ episode.id }} - {{ episode.name }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
