section {
  min-height: 1000px;
}

p {
  margin: 0;
}

.col-lg-4 {
  padding: 0;
}

.image-box {
  justify-content: center;
  display: flex;
  align-items: center;
}

img {
  border-radius: 5px;
}

.character-container {
  border-radius: 10px;
  background-color: hsl(330, 82%, 57%);
}

.episode-container {
  border-radius: 10px;
  background-color: hsl(25, 75%, 47%);
}

@media only screen and (max-width: 600px) {
  .container {
    border-radius: 0;
  }
}

#episode-row {
  color: white;
  background-color: hsl(25, 75%, 47%);
}

.episode-links {
  cursor: pointer;
}

.episode-box {
  background-color: hsl(25, 100%, 57%);
  border-radius: 10px;
  margin: 20px 10px;
  min-height: 300px;
  cursor: pointer;
}
