<section class="pb-5">
  <div class="container" id="locations">
    <div class="row py-4">
      <div class="col-md-4">
        <div class="image-box">
          <img
            src="{{ katarina.image }}"
            alt="{{ katarina.name }}"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-md-8">
        <div>
          <p>Location</p>
          <h2>{{ location.name }}</h2>
          <p>Type</p>
          <h3>{{ location.type }}</h3>
          <p>Dimension</p>
          <h3>{{ location.dimension }}</h3>
          <p>Residents</p>
          <h3>{{ location.residents.length }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
