<div class="container">
  <div class="row pt-4">
    <div class="col" id="pages">
      <button
        class="btn"
        (click)="nextPage(id)"
        *ngFor="let number of numberArray; let id = index"
      >
        page {{ number }}
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-4">
    <div
      class="col-md-6"
      *ngFor="let location of locationArray; let id = index"
    >
      <div class="row py-4 location-box {{ id % 2 === 0 ? 'orange' : 'pink' }}">
        <div class="col-md-4 display-number">
          <h1>{{ location.id }}</h1>
        </div>

        <div class="col-md-8">
          <div>
            <p>Location</p>
            <h4>{{ location.name }}</h4>
            <p>Type</p>
            <h5>{{ location.type }}</h5>
            <p>Dimension</p>
            <h5>{{ location.dimension }}</h5>
            <p>Residents</p>
            <h5>{{ location.residents.length }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- https://rickandmortyapi.com/api/character/avatar/361.jpeg -->

<!-- <img src="{{ randomCharacter() }}" alt="name" class="img-fluid" /> -->
