<div class="container">
  <div class="row py-4 mb-4">
    <div
      class="col-md-6"
      *ngFor="let location of locationArray; let id = index"
      (click)="check(location)"
    >
      <div class="row py-4 location-box {{ id % 2 === 0 ? 'orange' : 'pink' }}">
        <div class="col-md-4">
          <div class="image-box">
            <img
              src="https://rickandmortyapi.com/api/character/avatar/361.jpeg"
              alt="name"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="character-box">
            <p>Location</p>
            <h4>{{ location.name }}</h4>
            <p>Type</p>
            <h5>{{ location.type }}</h5>
            <p>Dimension</p>
            <h5>{{ location.dimension }}</h5>
            <p>Residents - {{ location.residents.length }}</p>

            <marquee width="80%" direction="left" height="50px">
              <h5 *ngFor="let resident of retrievedResidents" id="residents">
                {{ resident.name }},
              </h5>
            </marquee>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
