p {
  margin: 0;
}

.location-box {
  /* background-color: hsl(271, 76%, 53%); */
  border-radius: 10px;
  margin: 20px 10px;
  min-height: 300px;
}

.pink {
  background-color: hsl(300, 56%, 49%);
}

.orange {
  background-color: hsl(39, 100%, 44%);
}

.col-lg-4 {
  padding: 0;
}

.image-box {
  justify-content: center;
  display: flex;
  align-items: center;
}

img {
  border-radius: 5px;
}

.container {
  border-radius: 10px;
}

#residents {
  display: contents;
}

/* #pages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.location-number {
  justify-content: center;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 400%;
  color: hsl(226, 75%, 47%);

  /* color: hsl(190, 90%, 50%); */
  font-weight: bolder;
}

.btn {
  background-color: hsl(90, 100%, 50%);
}

@media only screen and (max-width: 600px) {
  .container {
    border-radius: 0;
  }
  #pages {
    flex-direction: column;
  }
  /* button {
    margin-top: 10px;
  } */
}
