.location-box {
  border-radius: 10px;
  margin: 20px 10px;
  min-height: 300px;
}

.pink {
  background-color: hsl(162, 71%, 49%);
}

.orange {
  background-color: hsl(162, 71%, 49%);
}

@media only screen and (max-width: 600px) {
  #pages {
    flex-direction: column;
  }
}
