<section class="py-5">
  <div class="container {{ locationId % 2 === 0 ? 'pink' : 'orange' }}">
    <div class="row py-4">
      <div class="col-md-4">
        <div class="image-box">
          <img
            src="{{ planet.image }}"
            alt="{{ planet.name }}"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-md-8">
        <div class="character-box">
          <p>Location</p>
          <h2>{{ location.name }}</h2>
          <p>Type</p>
          <h3>{{ location.type }}</h3>
          <p>Dimension</p>
          <h3>{{ location.dimension }}</h3>
          <p>Residents</p>
          <h3>{{ location.residents.length }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row py-4">
      <div class="col-md-6" *ngFor="let resident of retrievedResidents">
        <div class="row py-4 location-box">
          <div class="col-md-4">
            <div class="image-box">
              <img
                src="{{ resident.image }}"
                alt="{{ resident.name }}"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="character-box">
              <p>Name</p>
              <h4>{{ resident.name }}</h4>
              <p>Status</p>
              <h5>{{ resident.status }}</h5>
              <p>Species</p>
              <h5>{{ resident.species }} - {{ resident.gender }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
