section {
  background-color: hsl(162, 73%, 46%);
}

p {
  margin: 0;
}

.col-lg-4 {
  padding: 0;
}

.container {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    /* border-radius: 0; */
    width: 90%;
  }
}

#residents {
  display: contents;
}

img {
  border-radius: 5px;
}

.image-box {
  justify-content: center;
  display: flex;
  align-items: center;
}

.boxA {
  position: relative;
}

.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(162, 73%, 46%);
  padding: 0 10px;
  border-radius: 5px;
}

.pink {
  background-color: hsl(300, 71%, 66%);
}

.orange {
  background-color: hsl(39, 100%, 50%);
}

.location-box {
  background-color: hsl(271, 76%, 53%);
  border-radius: 10px;
  margin: 20px 10px;
}
