<section class="pb-5">
  <div class="container" id="locations">
    <div class="row py-4">
      <div class="col-md-4">
        <div>
          <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- <p *ngIf="retrievedResidents">Resident Images</p> -->
                <div class="d-flex justify-content-center">
                  <img src="{{ katarina.image }}" alt="" />
                  <div class="centered">residents</div>
                </div>
              </div>
              <div
                class="carousel-item"
                *ngFor="let resident of retrievedResidents"
              >
                <div class="d-flex justify-content-center boxA">
                  <img
                    *ngIf="positiveResidents"
                    src="{{ resident.image }}"
                    alt="{{ resident.name }}"
                  />
                  <div class="centered">{{ resident.name }}</div>
                </div>
                <!-- <p class="d-flex justify-content-center">{{ resident.name }}</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="character-box">
          <p>Location</p>
          <h2>{{ location.name }}</h2>
          <p>Type</p>
          <h3>{{ location.type }}</h3>
          <p>Dimension</p>
          <h3>{{ location.dimension }}</h3>
          <p>Residents</p>
          <marquee width="80%" direction="left" height="50px">
            <h3 *ngFor="let resident of retrievedResidents" id="residents">
              {{ resident.name }},
            </h3>
          </marquee>
          <!-- <h3>{{ retrievedResidents.name }}</h3> -->
        </div>
      </div>
    </div>
  </div>
</section>
