/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700;900&display=swap");
body {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  color: hsl(0, 0%, 100%);
}

#home {
  background-color: hsl(190, 90%, 50%);
}
#characters {
  background-color: hsl(330, 67%, 52%);
}
#locations {
  background-color: hsl(162, 73%, 46%);
}
#episodes {
  background-color: hsl(25, 75%, 47%);
}

#pages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.episode-box {
  background-color: hsl(25, 100%, 57%);
  border-radius: 10px;
  margin: 20px 10px;
  min-height: 300px;
  cursor: pointer;
}

.episode-details {
  padding: 20px;
}

img {
  border-radius: 5px;
}

.image-box {
  justify-content: center;
  display: flex;
  align-items: center;
}

.character-box {
  background-color: hsl(330, 82%, 57%);
  border-radius: 10px;
  margin: 20px 10px;
  min-height: 248px;
  cursor: pointer;
}

.btn {
  background-color: none;
  color: hsl(0, 0%, 100%);
}

h1 {
  font-size: 400%;
  color: hsl(226, 75%, 47%);
  font-weight: bolder;
}

.display-number {
  justify-content: center;
  display: flex;
  align-items: center;
}

.container {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    border-radius: 0;
  }
}

p {
  margin: 0;
}

.col-lg-4 {
  padding: 0;
}
