<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <a routerLink="/"
        ><div id="home"><h3>Home</h3></div></a
      >
    </div>
    <div class="col-md-3">
      <a routerLink="characters"
        ><div id="characters"><h3>Characters</h3></div></a
      >
    </div>
    <div class="col-md-3">
      <a routerLink="locations"
        ><div id="locations"><h3>Locations</h3></div></a
      >
    </div>
    <div class="col-md-3">
      <a routerLink="episodes"
        ><div id="episodes"><h3>Episodes</h3></div></a
      >
    </div>
  </div>
</div>
